body{
    background: #0C739E url(background.jpg);
    font-family:Tahoma, sans-serif;
    background-repeat: repeat-x;
}

*{
    margin:0;
    padding:0;
}

.clearfix:after{
    clear:both;
    content:'';
    display: block;
}

li {
    list-style-type:none;
}

a {
    text-decoration:none;
}

.wrapper{
    background-color:white;
    width:1000px;
    margin:0 auto;
    box-shadow: 0 0 7px black;
    height:988px;
}

.info {
    padding-top: 9px;
    position: relative;
}

.logo{
    position: relative;
    bottom: -3px;
    left:27px;  
}

.contact {
    float:right;
    margin-right: 33px;
}

.countries{
    float:right;
    position:relative;
    top:100px;
    left:125px;
}

.flag{
    position:absolute;
    top:150px;
    right: 0px;
}

.flag li{
    display:inline-block;
}

.flag a{
    font-size:10px;
    display:block;
    text-decoration:underline;
    color:#128aa7;
}

.india{
    padding-right:18px;
}

.nepal{
    padding-right:20px;
}

.tybet{
    padding-right:20px;
}

.butan{
    padding-right:5px;
}

.lanka{
    padding-right:5px;
}

.maldivy{
    padding-right:50px;
}

.contact p{
    color:#128aa7;
    font-size:13px;
}

.photo{
    height:235px;
    border-top:1px solid #0e82a7;
    border-bottom:1px solid #0e82a7;
    background: url("photo.jpg");
}

.menu{
    background-color:#303030;
    box-shadow:0 0 7px #000;
    font-size:13px;
    border-bottom:1px solid black;
}

.menu li{
    display: inline-block;
    position: relative;
}

.menu a{
    color:#fff;
    line-height:28px;  
    
}

.menu ul {
    position: absolute;
    display: none;
}

.menu li:hover ul {
    display: block;
    position:absolute;
    border-top:1px solid black;
    box-shadow:0 0 7px black;
}

.menu .travel li {
    padding: 9px;
    background-color:#303030;
    width:160px;
}
.menu .service li {
    padding: 5px;
    background-color:#303030;
    width:108px;
}
.menu .partners li {
    padding: 5px;
    background-color:#303030;
    width:140px;
    }
.link1{
    margin:0 54px 0 65px ;
}

.link2{
    margin:0 54px 0 10px;
}

.link2 span{
    font-size:10px;
}

.link3{
    margin:0 46px 0 10px;
}

.link3 span{
    font-size:10px;
}

.link4{
    margin:0 38px 0 10px;
}

.link4 span{
    font-size:10px;
}

.link5{
    margin:0 40px 0 10px;
}

.link6{
    margin:0 35px 0 10px;
}

.link7{
    margin:0 30px 0 10px;
}

h1{
    color:#303030;
    font-size:16px;
    padding:5px;
}

p{
    color:#4b4a4a;
    font-size:14px;
    line-height:24px;
}

.content{
    display:block;
    height:540px;
}

.left_block{
    float:left;
    margin:3px 15px 0 0;
    text-align:center;
    border-right:1px solid #128aa7;
    background-color:#edeef0;
    width:208px;
    height:540px;
}

.right_block{
    float:right;
    position:relative;
    text-align:center;
    left:0;
    margin-top:3px;
    border-left:1px solid #128aa7;
    background-color:#edeef0;
    width:208px;
    height:540px;
}

.footer{
    position:relative;
    top:10px;
    left:190px;
    color:#edeef0;
    font-size:12px;
}